{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "semi": "off",
    "arrow-parens": "off",
    "comma-dangle": "off",
    "require-jsdoc": "off",
    "indent": "off",
    "no-unused-vars": "off",
    "operator-linebreak": "off",
    "no-invalid-this": "off"
  },
  "plugins": [
    "jest"
  ],
  "extends": ["eslint:recommended", "google"]
}
